.cs-title {
  font-size: 2.5rem;
  margin-top: 100px;

  &::after {
    content: "";
    height: 5px;
    width: 100px;
    position: absolute;
    border-bottom: 4px solid var(--gold);
    border-radius: 15px;
    margin-top: 5px;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);

  }

}

.cs-cards {
  max-width: 1000px;
  margin-top: 80px;
  gap: 40px;
  padding: 25px;
  transition: all 0.3s ease;

  &::before {
    content: "";
    background-color: var(--gold);
    position: absolute;
    left: 73px;
    height: 1165px;
    width: 2px;
    opacity: 0.3;

  }

  & .cs-card {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
    border-radius: var(--rounded-md);
    backdrop-filter: blur(10px);
    transition: all .3s ease;

  }

}

.cs-card:hover {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid var(--gold);
  transform: translateX(10px);

}

.cs-number {
  background-color: var(--gold);
  color: black;
  font-size: 1.8rem;
  height: 70px;
  width: 70px;
  border-radius: var(--rounded-sm);

}

.cs-info {
  align-self: center;

  h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;

  }

  p {
    font-size: 0.9rem;

  }

}

.cs-tag {
  background-color: rgba(255, 204, 0, 0.1);
  font-size: 0.65rem;
  top: 0px;
  right: 0px;
  margin-top: 25px;
  margin-right: 20px;
  border: 1px solid var(--gold);
  padding: 4px 10px;
  border-radius: var(--rounded-xl);

}
