.bg-dark {
  background-color: var(--bg-dark);

}

.bg-card {
  background-color: var(--card-bg);

}

.bg-button {
  background-color: var(--bg-button);

}

.color-gold {
  color: var(--gold);

}

.color-gray {
  color: var(--text-gray);

}

.color-danger {
  color: var(--danger);

}

.flex {
  display: flex;

}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

.justify-between {
  justify-content: space-between;

}

.flex-col {
  flex-direction: column;

}

.text-center {
  text-align: center;

}

.font-light {
  font-weight: 400;

}

.font-semibold {
  font-weight: 700;

}

.font-bolder {
  font-weight: 900;

}

.relative {
  position: relative;

}

.absolute {
  position: absolute;

}
